header{
  background-color: #FFC107;
  font-family: Bebas Neue;
  display: flex;
  justify-content: center;
  font-size: 19px;
  a{
    text-decoration: none;
  }
}

.header-title{
  color: rgb(93, 21, 93);
  font-size: 5em;
  opacity: 0.6;
  &:hover{
    opacity: 1;
    color: #5f0faf;
  }
}

.card{
  border: none;
  opacity: 0.6;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}

.card-title{
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 2em;
  &.detail{
    font-size: 10rem;
    color: whitesmoke;
  }
}

.card-director{
  color:  #FFC107;
}

.card-genre{
  color: darkred;
}

.home-movies{
  background-color: black;
  padding: 70px;
}
.card-img-top{
  aspect-ratio: 5/6;
  width: 100%;
  object-fit: cover;
}

.card-image{
  width: 30%;
  &.detail{
    border-radius: 30px;
  }
}

.btn-warning{
  width: 100%;
}

.card-body.detail{
  position: relative;
  top: 100px;
  left: auto;
}

address{
  color: #FFC107;
  font-weight: bold;
  font-size: 1.5rem;
}

.review-box{
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 20px;
  font-family: Bebas Neue;
}

.review-text{
  color: black;
}